<!DOCTYPE html>
<html>
<head>
    <title>Courses</title>
</head>
<body>

    <h2>Course List</h2>

    <ul>
        <% courses.forEach(function(course) { %>
            <li><%= course %></li>
        <% }); %>
    </ul>

</body>
</html>
